
<html>
  <head>

    <link rel="stylesheet" href="D:\AngularProject\ticketingToolAngular-main project\ticketingToolAngular-main\src\app\pages\login\login.component.css">
  </head>
<body>

  <form>
      <h3>Support System</h3>

  
      <input type="text" name="UserName" [(ngModel)]="loginObj.UserName" placeholder="Email" />
      <input type="password" name="Password" [(ngModel)]="loginObj.Password" placeholder="Password" />
      <a href="#">Forgot your password?</a>
      <button (click)="onLogin()">Sign In</button>
    

   
      
  </form>
</body>
</html>